 @import url(style.css);

.box-cad-usuario{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: aliceblue;
}

#form-cadastro{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 10px 15px;

    background: rgba(255, 255, 255, 0.21);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.7px);
    -webkit-backdrop-filter: blur(7.7px);
    border: 1px solid rgba(255, 255, 255, 0.08);
}

#form-cadastro input{
    border: 1.2px solid #f3f3f3;
    padding: 6px 12px;
    border-radius: 4px;
    background-color: transparent;   
}

input::placeholder{
    color: aliceblue;
    font-size: small;
}

#usuario:focus{
    border-color: #361211;
}

#cpf:focus{
    border-color: #361211;
}

#email:focus{
    border-color: #361211;
}

#dtNasc:focus{
    border-color: #361211;
}

#senha:focus{
    border-color: #361211;
}

#confirma-senha:focus{
    border-color: #361211;
}

#form-cadastro h1{
    display: flex;
    justify-content: center;
    font-size: 35px;
}

.row-75{
    display: flex;
    gap: 3%;
}
.row-75 div{
    display: flex;
    flex-direction: column;
}
.row-75 div:first-child{
    width: 60%;
}

.row-75 div:last-child{
    width: 40%;
}

.row-50{
    display: flex;
    gap: 10px;
}

.row-50 div{
    display: flex;
    flex-direction: column;
}

.row-50 div:first-child{
    width: 50%;
}

.row-50 div:last-child{
    width: 50%;
}

#btn-cadastrar{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
}

#btn-cadastrar button{
    width: 120px;
    background-color: #1d0000;
    color: aliceblue;
    border-radius: 3px;
    border: none;
    padding: 3px 5px;
}

#btn-cadastrar p{
    font-size: 20px;
}

#btn-cadastrar button:hover{
    background-color: #361211;
}
#faca-login{
    font-size: small;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#faca-login a{
    text-decoration: underline;
    color: #1d0000;
}

#faca-login a:hover{
    color: #4e2522;
}